// @import './iconfont.css';

.test {
  // 可以通过 @apply 多个样式封装整体样式
  @apply mt-4 ml-4;

  padding-top: 4px;
  color: red;
}

:root,
page {
  // 修改按主题色
  // --wot-color-theme: #37c2bc;

  // 修改按钮背景色
  // --wot-button-primary-bg-color: green;
}

/* 字体 */
@font-face {
  font-family: 'SourceHanSansSC-bold';
  /* 字体粗细 */
  font-style: normal;
  font-weight: normal;
  src: url('./static/font/SourceHanSansSC-Bold.woff') format('woff');
  /* 字体风格 */
}

@font-face {
  font-family: 'SourceHanSansSC-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./static/font/SourceHanSansSC-Regular.woff') format('woff');
}
